.open-title {
   margin: 200px auto;
   font-size: 60px;
   color: rgba(10, 51, 186, 0.63);
   mix-blend-mode: hard-light;
   text-transform: uppercase;
   text-align: center;
   text-decoration: underline double rgba(10, 51, 186, 0.63) 3px;
   
  }

.search-container {
  max-width: 1080px;
  width: 90%;
  margin: 15px auto;
  font-size: 1.3rem;
}

.weatherforecast {
  max-width: 980px;
  margin: 40px auto;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

:root {
 
  /*yellow */
  --clr2: 255, 217, 102;
  --circle-size: 80%;
  --blending: hard-light;
}

.circle-bckgd{
  z-index: -10;
}

svg {
  display: none;
 
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--clr2), 0.8) 0, rgba(var(--clr2), 0) 60%) no-repeat;
  mix-blend-mode: var(--blending);

  filter: blur(80px);

  width: var(--circle-size);
  height: var(--circle-size);

  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  opacity: 1;

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}

