:root {
  --clr-bgd: rgb(154, 170, 190);
  --clr-bgd1: rgb(35, 68, 113);
}


body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, var(--clr-bgd1), var(--clr-bgd));
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
